.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-left h1 {
    font-size: 20px;
    float: left;
    margin: 20px;
}
ul {
    list-style: none;
}

.header-list ul li {
    display: inline;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}
.top-wrapper img {
    width: 100%;
}

.about-title h2 {
    text-align: center;
    margin: 70px 0;
    font-weight: bold;
    font-size: 25px;
}

.about-left img {
    float: left;
    width: 50%;
    margin-right: 10px;
}

.course-title h2 {
    clear: both;
    text-align: center;
    margin: 70px 0;
    font-weight: bold;
    font-size: 25px;
    padding-top: 70px;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
}

.flexbox img {
    width: 100%;
}

.flexbox-left {
    width: 30%;
}

.flexbox-center {
    width: 30%;
}

.flexbox-right {
    width: 30%;
}

.flexbox p {
    margin-top: 10px;
}

.contact-text {
    text-align: center;
    margin: 70px 0;
    font-weight: bold;
    font-size: 25px;
}

.contact-text2 {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-form1 {
    margin: 20px 0;
}

.contact-form1 input {
    width: 50%;
    border-radius: 30px;
    height: 30px;
}

.btn{
    border-radius: 5px;
    background-color: #F08080;
    padding: 20px 100px;
    text-align: center;
    color: white;
  }

  .footer {
      font-size: 12px;
      opacity: 0.7;
      float: right;
      margin-top: 80px;
      margin-bottom: 20px;
  }


  @media (max-width: 670px) {
 
    /*　この位置に記述する　*/


    .container {
        overflow: hidden;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header-left h1 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    .header-list ul li {
        float: none;
        margin: 0;
        margin: 0 10px;
    }
    
    .about-title h2 {
        margin: 50px 0;
        font-size: 20px;
    }

    .about-left img {
        float: none;
        width: 80%;
    }

    .about-right p {
        margin: 20px;
        text-align: left;
        line-height: 1.2;
    }

    .top-wrapper img {
        padding-top: 20px;
    }

    .course-title h2 {
        padding: 0;
        margin: 50px 0;
        font-size: 20px;
    }

    .flexbox {
        display: block;
        margin: 20px;
    }

    .flexbox-left {
        width: 100%;
    }
    
    .flexbox-center {
        width: 100%;
    }
    
    .flexbox-right {
        width: 100%;
    }
    
    .flexbox p {
        margin-bottom: 20px;
        margin-top: 5px;
        text-align: left;
        
    }

    

 
}
